<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="connection.driver.class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/Priyansh</property>
        <property name="connection.username">root</property>
        <property name="connection.password">1234</property>
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hbm2ddl.auto">create</property>
        <property name="show-sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="org.map1.Emp"/>
        <mapping class="org.map1.Project"/>

<!--        <mapping class="org.hql.Company"/>-->
<!--        <mapping class="org.Normal.Rest"/>-->

<!--        <mapping class="org.OneTo.EmpD"/>-->
<!--        <mapping class="org.OneTo.EmpWork"/>-->
    </session-factory>

</hibernate-configuration>